<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354857769646-f0ljr2njhgqda9b6qnnr5umqtbv9iu3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354857769646-f0ljr2njhgqda9b6qnnr5umqtbv9iu3m</string>
	<key>API_KEY</key>
	<string>AIzaSyDKo79UwoLXK7UTj1nJvlWlalHTIiH07eQ</string>
	<key>GCM_SENDER_ID</key>
	<string>354857769646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication2</string>
	<key>PROJECT_ID</key>
	<string>ititraining-2d5e8</string>
	<key>STORAGE_BUCKET</key>
	<string>ititraining-2d5e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354857769646:ios:fcbb686a10a8329572eb3f</string>
</dict>
</plist>